{% extends 'base.html' %}

{% block title %} OTP Verification {% endblock title %}

{% block body %}

<style>body {
    background-color: #d0e4f7; /* Slightly darker blue */
    font-family: Arial, sans-serif;
  }
</style>
<section class="vh-100 d-flex align-items-center">
  <div class="container my-5">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-md-6 col-lg-5">
        <div class="card p-4 shadow">
          <h3 class="text-center mb-4">Enter OTP</h3>
          <form action="{% url 'otp' %}" method="post">
            {% csrf_token %}
            <div class="form-outline mb-4">
              <label class="form-label" for="otp">Enter OTP</label>
              <input type="text" id="otp" required class="form-control form-control-lg"
                placeholder="Enter OTP" name="otp" />
            </div>
            <div class="text-center mt-4">
              <button type="submit" class="btn btn-primary btn-lg w-100">Verify OTP</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock body %}
